<h1>All Categories</h1>
<mat-card>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
      *ngFor="let category of categories;">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ category.categoryName }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-panel-description>
        {{ category.description }}
      </mat-panel-description>
      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" class="mt-2" (click)="editCategory(category.categoryId)"><mat-icon>edit_note</mat-icon>Edit</button>
      &nbsp;
      <button mat-raised-button color="warn" class="mt-2" (click)="deleteCategory(category.categoryId)"><mat-icon>delete</mat-icon>Delete</button>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col text-center">
        <button routerLink="/admin/add-category" mat-raised-button color="primary">Add Category</button>
      </div>
    </div>
  </div>
</mat-card>
