<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': ''">
  <div class="logo-container">
    <button class="logo" (click)="toggleCollapse()"><mat-icon>menu_book</mat-icon></button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">Exam Portal</div>
    <button class="btn-close" @rotate *ngIf="collapsed" (click)="closeSidenav()">
      <i class="fal fa-times close-icon"></i>
    </button>
  </div>
  <div class="scrollwrap scrollwrap_delayed">
    <ul class="sidenav-nav">
      <li class="sidenav-nav-item" *ngFor="let data of navBar | async">
        <a class="sidenav-nav-link" *ngIf="!data.items || (data.items && data.items.length === 0)"
          [routerLink]="[data.routeLink]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
          (click)="shrinkItems(data)">
          <i class="sidenav-link-icon" [class]="data.icon" (click)="data.label === 'Log Out' ? userLogout() : null"></i>
          <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed" (click)="data.label === 'Log Out' ? userLogout() : null">
            {{data.label}}
          </span>
        </a>
      </li>
    </ul>
  </div>
</div>
