<div class="card">
  <div class="card-head">Exam Portal - Add Category</div>
  <div class="card-body">
    <div class="row">
      <form [formGroup]="categoryForm" (ngSubmit)="addNewCategory()">
        <div class="col-md-6 offset-md-3">
          <!-- Category Name -->
          <mat-form-field appearance="outline">
            <mat-label>Category Name</mat-label>
            <input matInput autofocus formControlName="categoryName" name="categoryName"
              [(ngModel)]="category.categoryName">
            <mat-error
              *ngIf="categoryForm.get('categoryName')?.hasError('required') && categoryForm.get('categoryName')?.touched">
              Enter Category Name
            </mat-error>
          </mat-form-field>

          <!-- Description -->
          <mat-form-field appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput formControlName="description" name="description" required
              [(ngModel)]="category.description"></textarea>
            <mat-error
              *ngIf="categoryForm.get('description')?.hasError('required') && categoryForm.get('description')?.touched">
              Enter Description for Category
            </mat-error>
          </mat-form-field>
          <div class="container">
            <div class="row">
              <div class="col text-center">
                <button type="submit" mat-raised-button color="primary">
                  {{ categoryId ? 'Update' : 'Submit' }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
